.carousel {
  display: flex;
  flex: 1 0 auto;
  height: 900px;
  position: relative;

  > .carousel__slider {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    > .carousel__slide {
      height: 100%;
      opacity: 0;
      position: absolute;
      transition: opacity 200ms ease-out;
      width: 100%;

      &.visible {
        opacity: 1;
      }

      > .slide__text-container {
        align-items: center;
        color: var(--white);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        white-space: pre-line;
        width: 100%;

        > .slide__text-pre {
          // sass-lint:disable-block no-empty-rulesets
          // TODO
        }

        > .slide__text-title {
          font: 4rem Bodoni;
          margin: 3rem 0;
        }

        > .slide__text-content {
          font-size: 1.1rem;
          line-height: 1.8rem;
          text-align: center;
        }
      }
    }
  }

  > .carousel__buttons {
    position: absolute;
    right: 3%;
    top: calc(50% - 18px);
    z-index: 50;

    > .bullet {
      margin: 0 5px;
    }
  }
}
