.carousel {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  > img {
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
  }

  > .carousel__buttons {
    z-index: 50;
  }
}
