.page-contact__content {
  align-items: flex-start;
  background-color: var(--khaki);
  color: var(--white);
  column-gap: 4rem;
  display: flex;
  padding: 6rem 0 6rem 15rem;
  position: relative;

  > .page-contact__info {
    line-height: 1.4rem;

    > .page-contact__egon {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.8rem;
    }

    > a {
      color: var(--white);
      display: block;
      margin-top: 2rem;
    }
  }
}

.page-contact__landscape {
  background-image: url('../assets/images/contact.png');
  height: 539px;
}
