.page-creation {
  > .page-creation__container {
    align-items: center;
    display: grid;
    grid-template-columns: 20% auto 20%;

    > .page-creation__section {
      position: relative;

      &.section__customers {
        background-color: var(--bright-green);
      }

      &.section__left,
      &.section__right {
        height: 100%;
      }

      &.section__left {
        align-items: self-start;
        display: flex;
        justify-content: flex-start;
        padding: 6rem 0 0 2rem;
      }

      &.section_center {
        padding: 6rem 0;

        > .page-creation__paragraph {
          margin-bottom: 2rem;

          &:not(.title) {
            line-height: 1.4rem;
          }

          &.huge {
            font: 5rem/5rem var(--font-family-body-bold);
            margin-top: 6rem;
          }
        }

        > .page-creation__contact {
          display: flex;
          margin-top: 4rem;

          > a {
            color: var(--black);
            margin-left: .4rem;
          }
        }
      }
    }

    > img {
      grid-column: 1 / span 3;
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .page-creation {
    > .page-creation__container {
      grid-template-columns: 6rem 1fr 2rem;
    }
  }
}
