.footer {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: var(--footer-height);
  justify-content: space-between;
  padding: 0 40px;

  > .footer__links {
    align-items: center;
    display: flex;

    > a {
      border-bottom: 1px solid var(--black);
      color: var(--black);
      font-size: .8rem;
      font-weight: bold;
      padding-bottom: .2rem;
      text-decoration: none;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        color: rgba(0, 0, 0, .8);
      }
    }

    > button {
      background-color: var(--black);
      border: 0;
      color: var(--white);
      cursor: pointer;
      font: .8rem Helvetica, sans-serif;
      font-weight: bold;
      padding: .5rem 1rem;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(0, 0, 0, .8);
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    > .footer__links {
      > a {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 0 20px;

    > .footer__links {
      > a {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 0 10px;

    > .footer__links {
      > a {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;

    > .footer__links {
      flex-direction: column;
      margin: 1rem 0;

      > a {
        &:not(:last-child) {
          margin: 0 0 1rem;
        }
      }

      > button {
        margin-bottom: 2rem;
      }
    }
  }
}
