.page-agency {
  > .page-agency__name {
    align-items: flex-start;
    background-color: var(--black);
    color: var(--white);
    column-gap: 4rem;
    display: flex;
    justify-content: center;
    padding: 6rem 0;

    > .page-agency__egon {
      font-size: 3rem;
    }

    > .page-agency__tagline {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      > div {
        &:first-child {
          font: 2rem Bodoni;
        }

        &:last-child {
          margin-top: 2rem;
        }
      }
    }
  }

  p {
    line-height: 1.5rem;
    margin: 20px auto;
    max-width: 800px;
  }
}
