.page-join-us {
  > .page-join-us__content {
    align-items: flex-start;
    background-color: var(--blue);
    color: var(--white);
    column-gap: 4rem;
    display: flex;
    flex-grow: 1;
    padding: 8rem 0 8rem 15rem;
    position: relative;

    > .page-join-us__info {
      line-height: 1.4rem;

      > .page-join-us__title {
        margin-bottom: 2rem;
      }

      > a {
        color: var(--white);
        display: block;
        margin-top: 2rem;
      }
    }
  }
}
