.menu {
  position: fixed;
  right: 3rem;
  top: 2rem;
  z-index: 20;

  &.menu__closed {
    cursor: pointer;
    text-transform: uppercase;

    &.dark {
      color: var(--black);
    }

    &.light {
      color: var(--white);
    }
  }

  &.menu__opened {
    background-color: #394D16;
    padding: 2rem;

    > nav {
      display: flex;
      flex-direction: column;
    }

    > .menu__languages {
      margin-top: 2rem;

      input[type='radio'] {
        display: none;

        &:checked + label {
          background-color: var(--white-transparent-3);
          cursor: default;
        }
      }

      input[type='radio'] + label {
        cursor: pointer;
        flex-grow: 1;
        font-size: 1rem;
        margin: 0;
        padding: .2rem .4rem;

        &:hover {
          background-color: var(--white-transparent-4);
        }
      }
    }
  }

}
