.modal__overlay {
  background-color: #000;
  height: 100vh;
  left: 0;
  opacity: .4;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
}

.modal__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-items: center;
  outline: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;

  > .modal {
    align-items: stretch;
    background: var(--white);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    z-index: 100;

    > .modal__image {
      background-image: url('../assets/images/newsletter_510.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 120px;
      width: 100%;
    }

    > .modal__close-button {
      background-color: rgba(255, 255, 255, .5);
      border-radius: 50%;
      cursor: pointer;
      height: 1.6rem;
      padding: .2rem;
      position: absolute;
      right: -.8rem;
      top: -.8rem;
      width: 1.6rem;

      &:hover {
        background-color: rgba(255, 255, 255, .7);
      }
    }

    > .modal__header {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      font: 2rem var(--font-family-title);
      padding: 2rem;
    }

    > .modal__content {
      padding: 0 2rem 2rem;
    }
  }
}

@media (max-width: 400px) {
  .modal__wrapper {
    > .modal {
      > .modal__header {
        font: 1.4rem var(--font-family-title);
        padding: 1rem;
      }

      > .modal__content {
        padding: 0 1rem 1rem;
      }
    }
  }
}

@media (max-width: 320px) {
  .modal__wrapper {
    > .modal {
      > .modal__image {
        background-image: url('../assets/images/newsletter_320.png');
      }
    }
  }
}
