.page-shop {
  > .page-shop__section {
    align-items: center;
    column-gap: 10rem;
    display: grid;
    font-family: var(--font-family-body-regular);
    grid-template-columns: 1fr 1fr;
    padding: 5rem 10rem;

    &.page-shop__book {
      color: var(--white);
      display: flex;
      margin-inline: -10rem;

      .page-shop__background {
        background-image: url('../assets/images/shop/book-with-background_1920.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 797px;
        width: 100%;
      }

      .page-shop__description {
        position: absolute;
        left: 50%;
        max-width: 40%;

        .page-shop__title,
        .page-shop__author {
          font-size: 2rem;
        }

        .page-shop__foreword {
          font-size: 1.6rem;
        }

        .page-shop__synopsis {
          margin-block: 2rem;
          max-width: 34rem;
        }

        .page-shop__tagline {
          font-size: 1.2rem;
          margin-bottom: 2rem;
        }

        .page-shop__buy-wrapper {
          align-items: center;
          column-gap: 2rem;
          display: flex;

          .page-shop__price {
            font-size: 1.2rem;
          }
        }
      }
    }

    &.page-shop__teasing {
      color: var(--black);

      .page-shop__teasing-wrapper {
        line-height: 1.3;
        justify-self: flex-end;
        max-width: 34rem;

        .page-shop__teasing-title {
          font-family: var(--font-family-body-bold);
          margin-bottom: 1rem;
        }
      }

      .page-shop__foreword-wrapper {
        font-size: 2.4rem;
      }
    }

    &.page-shop__author-section {
      background-color: var(--blue);
      color: var(--white);
      padding-block: 0;

      .page-shop__photo-wrapper {
        justify-self: flex-end;
        position: relative;

        > img {
          &:first-child {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &:last-child {
            position: relative;
            z-index: 2;
          }
        }
      }

      .page-shop__about_title {
        font-family: var(--font-family-body-bold);
        margin-bottom: 2rem;
      }

      .page-shop__about_bio {
        max-width: 30rem;
      }
    }

    &.page-shop__book-egon-editions {
      align-items: flex-start;

      .page-shop__book-cover-details {
        align-items: flex-start;
        display: flex;
        column-gap: 2rem;
        justify-self: flex-end;

        .book-cover-wrapper {
          align-items: center;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;

          .book-cover__images {
            display: grid;
            position: relative;

            .book-cover__image {
              grid-area: 1 / 1;
              opacity: 0%;
              transition: opacity var(--medium-transition) ease-in-out;
              width: 100%;

              &.visible {
                opacity: 100%;
              }
            }
          }

          .book-cover__carousel {
            column-gap: 5px;
            display: flex;
          }
        }

        .page-shop__book-details {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          min-width: 330px;

          .book-details__title {
            font-family: var(--font-family-body-bold);
          }

          .book-details__tagline {
            font-family: var(--font-family-body-bold);
          }
        }
      }

      .page-shop__egon-table {
        .egon-table__title {
          font-family: var(--font-family-body-bold);
          text-transform: uppercase;
        }

        .egon-table__paragraph {
          margin-block: 2rem;

          &.final-paragraph {
            font-family: var(--font-family-body-bold);
          }
        }
      }
    }

    &.page-shop__book-zoom {
      background-image: url('../assets/images/shop/book-zoom_1920.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
    }
  }
}

@media (width <= 1600px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book-egon-editions {
        column-gap: 5rem;
      }
    }
  }
}

@media (width <= 1400px) {
  .page-shop {
    > .page-shop__section {
      column-gap: 5rem;
      padding-inline: 5rem;

      &.page-shop__book {
        margin-inline: -5rem;

        .page-shop__background {
          background-image: url('../assets/images/shop/book-with-background_1400.png');
          height: 581px;
        }
      }

      &.page-shop__book-zoom {
        background-image: url('../assets/images/shop/book-zoom_1400.png');
        height: 583px;
      }

      &.page-shop__book-egon-editions {
        column-gap: 2rem;
      }
    }
  }
}

@media (width <= 1100px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book-egon-editions {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        > .page-shop__egon-table {
          max-width: 30rem;
        }
      }
    }
  }
}

@media (width <= 900px) {
  .page-shop {
    > .page-shop__section {
      column-gap: 2rem;
      padding-inline: 2rem;

      &.page-shop__book {
        margin-inline: -2rem;

        .page-shop__background {
          background-image: url('../assets/images/shop/book-with-background_900.png');
          height: 374px;
        }

        .page-shop__description {
          .page-shop__title,
          .page-shop__author {
            font-size: 1.6rem;
          }

          .page-shop__foreword {
            font-size: 1.4rem;
          }

          .page-shop__synopsis {
            margin-block: 1rem;
          }

          .page-shop__tagline {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
          }
        }
      }

      &.page-shop__book-zoom {
        background-image: url('../assets/images/shop/book-zoom_900.png');
        height: 375px;
      }
    }
  }
}

@media (width <= 650px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book {
        column-gap: 0;
        padding-block: 2rem;

        .page-shop__description {
          .page-shop__title,
          .page-shop__author {
            font-size: 1.2rem;
          }

          .page-shop__foreword {
            font-size: 1rem;
          }

          .page-shop__synopsis {
            margin-block: .8rem;
          }

          .page-shop__tagline {
            font-size: .9rem;
            margin-bottom: 1rem;
          }

          .page-shop__buy-wrapper {
            column-gap: 1rem;

            .page-shop__price {
              font-size: 1rem;
            }

            .stripe-buy-button {
              padding: .2rem .5rem;
            }
          }
        }
      }
    }
  }
}

@media (width <= 620px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book-egon-editions {
        > .page-shop__book-cover-details {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
          row-gap: 2rem;
        }
      }
    }
  }
}

@media (width <= 600px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__teasing {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
      }

      &.page-shop__author-section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        row-gap: 2rem;

        .page-shop__photo-wrapper {
          margin-left: -20px;
        }
      }

      &.page-shop__book-egon-editions {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
      }
    }
  }
}

@media (width <= 500px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book {
        flex-direction: column;

        .page-shop__background {
          background-image: url('../assets/images/shop/book-with-background-centered_400.png');
          height: 234px;
        }

        .page-shop__description {
          background-color: var(--black-transparent-10);
          color: var(--black);
          left: revert;
          max-width: 100%;
          padding: 2rem;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

@media (width <= 400px) {
  .page-shop {
    > .page-shop__section {
      &.page-shop__book {
        padding-block: 1rem;

        .page-shop__description {
          margin-left: -1rem;

          .page-shop__title,
          .page-shop__author {
            font-size: .9rem;
          }

          .page-shop__foreword {
            font-size: .8rem;
          }

          .page-shop__synopsis {
            margin-block: .7rem;
          }

          .page-shop__tagline {
            font-size: .8rem;
            margin-bottom: 1rem;
          }

          .page-shop__buy-wrapper {
            column-gap: 1rem;

            .page-shop__price {
              font-size: 1rem;
            }
          }
        }
      }

      &.page-shop__book-zoom {
        background-image: url('../assets/images/shop/book-zoom_400.png');
        height: 167px;
      }
    }
  }
}
