.page-shop-confirmation {
  > .page-shop-confirmation__content {
    align-items: center;
    background-image: url('../assets/images/shop/book-with-background_1920.png');
    color: var(--white);
    display: flex;
    font-size: 3rem;
    height: 797px;

    > div {
      margin-inline-start: 60%;
    }
  }
}

@media (max-width: 1400px) {
  .page-shop-confirmation {
    > .page-shop-confirmation__content {
      background-image: url('../assets/images/shop/book-with-background_1400.png');
      height: 581px;
    }
  }
}

@media (max-width: 900px) {
  .page-shop-confirmation {
    > .page-shop-confirmation__content {
      background-image: url('../assets/images/shop/book-with-background_900.png');
      height: 374px;
    }
  }
}

@media (max-width: 400px) {
  .page-shop-confirmation {
    > .page-shop-confirmation__content {
      background-image: url('../assets/images/shop/book-with-background_400.png');
      height: 166px;
    }
  }
}
