.shop-flyout {
  align-items: center;
  background-color: var(--white);
  border-top: 1px solid #dedede;
  bottom: 0;
  display: flex;
  height: 100px;
  left: 0;
  position: fixed;
  transform: translateY(100%);
  transition: transform var(--medium-transition) ease, visibility 0s linear var(--medium-transition);
  visibility: hidden;
  width: 100%;
  z-index: 10000;

  &.shop-flyout--open {
    transform: translateY(0);
    transition: transform var(--medium-transition) ease, visibility 0s;
    visibility: visible;
  }

  .shop-flyout__content {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-inline: auto;
    max-width: 900px;

    .shop-flyout__cover {
      display: block;
      flex: 0 0 auto;
      height: 80px;
      object-fit: contain;
      width: auto;
    }

    .shop-flyout__details {
      flex: 2 1 auto;
      min-width: 0;

      .shop-flyout__title {
        font-family: var(--font-family-body-bold);
      }

      .shop-flyout__price {
        font-size: 1.1rem;
        margin-top: .5rem;
      }
    }
  }
}

@media (width <= 600px) {
  .shop-flyout {
    .shop-flyout__content {
      gap: 10px;

      .shop-flyout__details {
        .shop-flyout__title {
          font-size: .8rem;
        }
      }

      .stripe-buy-button__dark {
        padding: .4rem .5rem;
      }
    }
  }
}
