.splash-screen {
  align-items: center;
  background: url('../assets/images/manifest1_1920.png');
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 100;

  > img {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .splash-screen {
    > img {
      height: 130px;
    }
  }
}

@media (max-width: 400px) {
  .splash-screen {
    > img {
      height: 120px;
    }
  }
}
