.stripe-buy-button {
  color: var(--white);
  font-size: inherit;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;

  &.stripe-buy-button__light {
    border: 2px solid var(--white);

    &:hover {
      background-color: rgb(255 255 255 / 10%);
    }
  }

  &.stripe-buy-button__dark {
    background-color: var(--black);

    &:hover {
      background-color: rgb(0 0 0 / 80%);
    }
  }
}
