// sass-lint:disable no-duplicate-properties

// Formats:
//  - eot          IE9
//  - eot?#iefix   IE6-IE8
//  - woff, woff2  Chrome, Firefox
//  - ttf          Chrome, Firefox, Opera, Safari, Android, iOS 4.2+
//  - svg          iOS 4.1-

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueRegular.eot');
  src: url('./assets/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
  url('./assets/fonts/HelveticaNeueRegular.woff') format('woff'),
  url('./assets/fonts/HelveticaNeueRegular.ttf') format('truetype'),
  url('./assets/fonts/HelveticaNeueRegular.svg#Helvetica Neue Regular') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue Bold';
  src: url('./assets/fonts/HelveticaNeueBold.eot');
  src: url('./assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
  url('./assets/fonts/HelveticaNeueBold.woff') format('woff'),
  url('./assets/fonts/HelveticaNeueBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Bodoni';
  src: url('./assets/fonts/Bodoni.eot');
  src: url('./assets/fonts/Bodoni.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Bodoni.woff2') format('woff2'),
  url('./assets/fonts/Bodoni.woff') format('woff'),
  url('./assets/fonts/Bodoni72Book.ttf') format('truetype'),
  url('./assets/fonts/Bodoni.svg#Bodoni') format('svg');
}
