@import 'https://fast.fonts.net/lt/1.css?apiType=css&c=143ef290-3acc-4dbb-80d1-2533fff53313&fontids=1488906,1488882';

@font-face {
  font-display: swap;
  font-family: Helvetica;
  src: url('./assets/fonts/helvetica.woff2') format('woff2'),
  url('./assets/fonts/helvetica.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: HelveticaBold;
  src: url('./assets/fonts/helvetica-bold.woff2') format('woff2'),
  url('./assets/fonts/helvetica-bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: HelveticaNeueCondensedBlack;
  src: url('./assets/fonts/helvetica-neue-condensed-black.woff2') format('woff2'),
  url('./assets/fonts/helvetica-neue-condensed-black.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Bodoni;
  src: url('./assets/fonts/bodoni.woff2') format('woff2'),
  url('./assets/fonts/bodoni.woff') format('woff');
}
