:root {
  --white: #FFF;
  --blue: #093383;
  --red: #FD201A;
  --accent: var(--red);
  --white-transparent-1: rgba(255, 255, 255, .8);
  --white-transparent-2: rgba(255, 255, 255, .6);
  --white-transparent-3: rgba(255, 255, 255, .2);
  --white-transparent-4: rgba(255, 255, 255, .1);
  --white-transparent-5: rgba(255, 255, 255, .03);
  --blue-transparent: rgba(9, 61, 131, .2);
  --red-transparent: rgba(253, 32, 26, .6);
  --border-radius-small: .2rem;
  --border-radius-big: .5rem;
  --font-size: 16px;
}

html {
  -moz-osx-font-smoothing: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: var(--font-size);
  height: 100%;
  width: 100%;

  body {
    accent-color: var(--accent); // sass-lint:disable-line no-misspelled-properties
    align-items: stretch;
    //background-color: var(--white);
    //color: var(--blue);
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    height: 100%;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;

    > .root {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: stretch;
      width: 100%;
    }
  }
}
