@import 'fonts.scss';

:root {
  --green: #8D9C77;
  --khaki: #9D903D;
  --blue: #405E67;
  --yellow: #D6C126;
  --maroon: #381400;
  --light-blue: #A0B1C2;
  --white: #F8F8F8;
  --black: #000;
  --accent: #FD201A;
  --white-transparent-1: rgba(255, 255, 255, .8);
  --white-transparent-2: rgba(255, 255, 255, .6);
  --white-transparent-3: rgba(255, 255, 255, .2);
  --white-transparent-4: rgba(255, 255, 255, .1);
  --white-transparent-5: rgba(255, 255, 255, .03);
  --blue-transparent: rgba(9, 61, 131, .2);
  --red-transparent: rgba(253, 32, 26, .6);

  --border-radius-small: .2rem;
  --border-radius-big: .5rem;
  --font-size: 16px;
  --header-height: 100px;
  --footer-height: 100px;
  --short-transition: 200ms;
  --medium-transition: 1s;
}

html {
  -moz-osx-font-smoothing: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: var(--font-size);
  height: 100%;
  user-select: none;
  width: 100%;

  * {
    box-sizing: border-box;
    white-space: pre-line;
  }

  body {
    align-items: stretch;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    height: 100%;
    justify-content: stretch;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    > .root {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: stretch;
      overflow: hidden auto;
      width: 100%;

      > .page {
        align-items: stretch;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: stretch;
        position: relative;
        width: 100%;
      }
    }
  }
}
